<div class="login">
  <div class="container-login">
    <div class="login-left" >
    </div>
    <div class="wrap-login">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-xl-6 col-lg-8 col-md-6 col-sm-8 col-10">
          <div class="row ">
            <div class="col-md-12 d-flex justify-content-center mb-5 ">
              <div class="logoLogin">
                <img src="../../../assets/front/img/chosa-color.svg" alt="">
              </div>
            </div>
          </div>
          <form #f="ngForm" class="needs-validation mt-5" (ngSubmit)="sendResetEmail()" >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control" id="validationEmail"
                         aria-describedby="input-group-prepend" [(ngModel)]="email" name="email" id="email" placeholder="Adresse email" required>
                  <div class="invalid-feedback">
                    Entrez une adresse mail valid
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flex mt-0 align-items-center justify-content-center">
              <button type="submit" id="submit" class="btn btn-outline-success cnx">Réinitialiser mot de passe</button>
            </div>
            <p class="mt-5 text-center">Retourner? <a [routerLink]="['/login']">Connexion</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
