<div class="container-fluid bgBandeauInterne">

  <app-front-header></app-front-header>

  <div class="container-fluid bandeauInterne d-flex align-items-center">

    <div class="container">
      <div class="row d-flex justify-content-center ">
        <div class="col-xl-7 col-lg-7 col-md-12 col-12 d-flex align-content-center justify-content-center flex-column text-center">

          <h2 class="titleBandeau">
            La plateforme de suivi <br>
            de votre enfant
          </h2>
          <p class="contentbandeau mt-2">
            <b> CHOSA </b> est une plate forme qui permet à chaque parent, là ou il se trouve de suivre
            la journée de son enfant et de réagir à temps si besoin se fait sentir.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<main>

  <section class="container-fluid servicesInterne mt-5" id="suivie">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2 class="title-red">Suivie</h2>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-5">
          <img src="../../../assets/front/img/img-suivie.png" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2 mb-3 d-flex align-content-center flex-wrap">
          <p>Avec chosa, vos enfants sont entourés, suivis tous les jours au cours de leurs journées aux jardins d'enfants . Via votre compte « parent »,
            vous pourrez suivre l'emploi du temps, les activités ,les repas , les événements .
          <br><br>
            Chosa rend la communication simple, instantanée et sécurisée.<br>
            Des moments de vie de la classe à partager ?
            <br>
            Un message à faire passer ?
            <br>
            En quelques clics, avec chosa , les parents sont informés .
            Oubliez les photocopies dans les cahiers de liaison papiers
            Que ce soit pour les messages du quotidien à transmettre aux parents (informations, moments de vie de la classe à partager, sorties scolaires,
            classes découvertes, etc.), avec chosa , tous les parents sont instantanément informés.
          </p>
        </div>



      </div>

    </div>

  </section>


  <section class="container-fluid servicesInterne" id="actualite">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2 class="title-orange">Actualités</h2>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2 mb-3 d-flex align-content-center flex-wrap">
          <p>Bien engager le dialogue avec les parents d’élèves en début d’année est devenu primordial.
            Pour vous y aider,Chosa Instaure une relation de confiance et un climat de convivialité
            entre les enseignants et les parents  .
            Pour faciliter la communication à distance, Chosa propose une plate forme simple et efficace.
            Des moments de vie de la classe à partager ?
            Un message à faire passer ?
            En quelques clics, avec chosa , les parents sont informés .
            Oubliez les photocopies dans les cahiers de liaison papiers
            Que ce soit pour les messages du quotidien à transmettre aux parents
            (informations, moments de vie de la classe à partager, sorties scolaires,
            classes découvertes, etc.), avec chosa , tous les parents sont instantanément informés.</p>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-5">
          <img src="../../../assets/front/img/img-actualite.png" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>

      </div>

    </div>

  </section>


  <section class="container-fluid servicesInterne" id="profil-perso">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2 class="title-green">Profil personnel</h2>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-5">
          <img src="../../../assets/front/img/img-profil-personnel.png" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2 mb-3 d-flex align-content-center flex-wrap">
          <p>Avec notre plate forme Chosa chaque parent ou jardin d'enfant a un profil personnalisé comprenant
            les profils de ses enfants avec des informations personnalisés et sécurisés
          <br><br>
            Une recherche simple en un simple clic vous pouvez accéder a votre profil ainsi qu'au profil de votre enfant.</p>
        </div>



      </div>

    </div>

  </section>

  <section class="container-fluid servicesInterne" id="activite">
    <div class="container">

      <div class="row">
        <div class="col-md-12 mb-5">
          <h2 class="title-purple">Activités</h2>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2 mb-3 d-flex align-content-center flex-wrap">
          <p>L'école maternelle est une étape essentielle du parcours des élèves pour garantir leur réussite scolaire.
            Sa mission principale est de donner envie aux enfants d'aller à l'école pour apprendre,
            affirmer et épanouir leur personnalité.
            <br><br>
            C'est une école où les enfants vont apprendre ensemble et vivre ensemble. Ils y développent leur langage oral
            et commencent à découvrir les écrits, les nombres et d'autres domaines d'apprentissage.
            <br><br>
            Ils apprennent en jouant, en réfléchissant et en résolvant des problèmes,
            en s'exerçant, en se remémorant et en mémorisant. Avec Chosa ,
            chaque moment chaque activité chaque instant est partagé sur notre plate forme.</p>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-5">
          <img src="../../../assets/front/img/img-activite.png" class="img-fluid mx-auto d-block" alt="Responsive image">
        </div>

      </div>

    </div>

  </section>

</main>

<footer class="container-fluid footer">
  <div class="topFooter"></div>
  <div class="bottomFooter">
    <div class="container">

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
          <div class="logoFooter mb-3">
            <img src="../../../assets/front/img/chosa-white.svg" alt="">
          </div>
          <ul class="list-group info mb-3">
            <li><i class="fas fa-phone fa-flip-horizontal"></i>+216 71 658 364</li>
            <li><a href="http://"><i class="far fa-envelope"></i>contact@chosa.com</a></li>

          </ul>
          <ul class="list-group list-group-horizontal">
            <li><a href="http://"><i class="fab fa-facebook"></i></a></li>
            <li><a href="http://"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="http://"><i class="fab fa-linkedin"></i></a></li>
          </ul>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

          <div class="row">
            <div class="col-md-4 col-6">
              <h5>Information</h5>
              <ul>
                <li><a href="">Inscription</a></li>
                <li><a href="">Connexion</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-6">
              <h5>Société</h5>
              <ul>
                <li><a href="">Présentation</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-6">
              <h5>Compte</h5>
              <ul>
                <li><a href="">Profil</a></li>
                <li><a href="">Notifications</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="footer2 mt-2">
      <div class="col-md-12 col-12">
        <p>© 2019 Chosa. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
