<footer class="container-fluid footer mt-4">
  <div class="containerFooter">
    <div class="container pt-5 pb-5">

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex align-items-center">
          <div class="logoFooter">
            <img src="../../../assets/ecole/img/chosa-white.svg" alt="">
          </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

          <div class="row">
            <div class="col-md-4 col-6">
              <h5>Compte</h5>
              <ul>
                <li><a [routerLink]="['/ecole/profil']">Profil</a></li>
                <li><a [routerLink]="['/ecole/notifications']">Notifications</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-6">
              <h5>Liens rapides</h5>
              <ul>
                <li><a href="">Termes et conditions</a></li>
                <li><a href="">Aide</a></li>
              </ul>
              <ul class="reseauSociaux list-group list-group-horizontal">
                <li><a href="https://www.facebook.com/chosaeducation/"><i class="fab fa-facebook"></i></a></li>
                <li><a href="http://"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="http://"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="footer2 mt-2">
      <div class="col-md-12 col-12">
        <p>© 2019 Chosa. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
<a href="" Onclick="return false ;" id="haut" class="affiche" (click)="scrollToTop()"><i class="la la-angle-up"></i></a>

