<aside class="main-sidebar sidebar-dark-primary elevation-4 margin_0">
  <a href="index3.html" class="brand-link">
    <img src="../../../assets/front/img/chosa-white.svg" alt="AdminLTE Logo" class="brand-image img-circle elevation-6"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Admin</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{imageUrl}}" class="brand-image img-circle elevation-3" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.prenom}} {{user.nom}}</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a class="nav-link" >
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Messages
              <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/charts/chartjs.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Reçus</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/charts/flot.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Arshivés</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/charts/inline.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inline</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/coloriage']" class="nav-link">
            <i class="nav-icon fas fa-paint-brush"></i>
            <p>Coloriages</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
